/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Standard */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Navbar Styles */
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: black;
  padding-right: 50px;
}

.navbar-left {
  flex: 1;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  display: flex;
}

.nav-link {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: color 0.3s ease;
}
.nav-link:hover {
  background: #49e6b2;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Main Content Styles */
.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgb(163, 156, 132);
  height: 92vh;
  display: flex;
  align-items: center;
  color: white;
}

.left-side {
  margin: 30px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: rgb(206, 168, 110);
  display: flex;
  padding-left: 50px;
  flex-grow: 1;
}
.sub-container {
  display: flex;
  flex-direction: column;
  background-color: palevioletred;
  justify-content: space-between;
  margin-left: 70px;
}
.sub-left {
  background-color: rgb(17, 176, 229);
  padding: 10px;
  margin: 20px;
}

.sub-right {
  background-color: rgb(163, 71, 191);
  padding: 40px;
  margin: 20px;
}
.right-side {
  width: 300px;
  background-color: #6eaaef;
  padding: 30px;
  justify-content: space-between;
  flex-grow: 1;
  align-self: stretch;
  margin-left: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 30px;
}

.input-fields {
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
  border: 1px solid black;
  background-color: rgb(197, 193, 193);
  color: black;
}
input:focus {
  border: white;
  border-color: white;
}
input::placeholder {
  color: rgb(221, 218, 218);
}

button {
  padding: 10px 20px;
  background-color: #6eaaef;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.animation {
  height: 200px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  /* Add animation styles here */
}

.hints {
  background-color: #a72a2a;
  padding: 10px;
  /* Add styles for hints text here */
}
/* form row */
.form-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
}

label {
  width: 120px;
  margin-right: 10px;
}

input {
  flex-grow: 1;
}

#graduation-year {
  width: 140px;
  padding: 8px;
  background-color: rgb(197, 193, 193);
  color: #383737;
  border-color: black;
}
#age {
  width: 100px;
  padding: 8px;
  color: black;
}
#email {
  padding: 6px;
}
.input-fields {
  padding-top: 30px;
}
.internship-boxes {
  min-width: 20px;
  display: flex;
}
.internship-boxes input {
  flex: 1;
  margin-right: 6px;
}
.internship-boxes input:last-child {
  margin-right: 0px;
}
